/* Variables */
:root{
  --basic-black: #000000;
  --basic-dark-grey:#283136;
  --basic-button:#FB565A;
  --button-hover:#E74246;
  --button-active:#D7373B;
  --basic-white:#FFFFFF;
  --background:#EEEEEE;
  --backdrop-image:#888888;
  --button-app-basic:#00CA74;
  --button-app-hover:#00BC6C;
  --button-app-active:#00AA62;
  --button-presentation-basic:#EFC849;
  --button-presentation-hover:#EAB534;
  --button-presentation-active:#E5A722;
  --modal-address:#666666;
  --discount-string:#444444;
  --discount-string-lite:rgba(68,68,68,0.5);
  --social-background:#E1E1E1;
  --border-text:#D7DCDE;
  --arrow-down-dark:#231F20;
  --arrow-up-light:#A6A6A6;
  --over-image-catalog:#4D4D4D;
  --button-show-hover:#DFDFDF;
  --button-show-active:#D5D5D5;
  --popap-border-hover:#B4B9BB;
  --shadow-social:inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  --border-dots:#C1C1C1;
  --text-active:rgba(255,255,255,0.3);
  --modal-window-shadow:0px 20px 40px rgba(0, 0, 0, 0.4);
  --range-controls:#f1f1f1;
}


@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"),
  url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
}


@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto"),
  url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"),
  url("../fonts/robotobold.woff2") format("woff2"),
  url("../fonts/robotobold.woff") format("woff");
}

/* Global */
.page {
  height: 100%;
}

.page-body{
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style:normal;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main navigation */
.main-header{
  padding-top:49px;
  background-color:var(--background);
}

.main-navigation-wrapper{
  width: 1160px;
  height:65px;
  display: flex;
  justify-content: space-between;
  margin:0 auto;
}

.main-navigation{
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:flex-start;
  flex-direction: row;
}

.main-header-logo{
  margin-right:202px;
  width:160px;
  height:65px;
}

.site-navigation {
  width:440px;
  min-height:65px;
  display:flex;
  margin:0px;
  padding:0px;
  list-style:none;
}

.site-navigation,
.basket-user{
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: 500;
  text-transform: uppercase;

}

/* Basket-user */

.basket-user{
  max-width: 140px;
  margin-left: auto;
}

.site-navigation a,
.basket-user a{
  color: var(--basic-black);
  display:block;
  padding-top:26px;
}

.site-navigation li{
  padding-right:45px;
}

.site-navigation li:nth-child(3){
  padding-right:47px;
}

.site-navigation a:hover,
.basket-user a:hover
{
  color: var(--basic-button);
}

.site-navigation a:focus,
.basket-user a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

/* basket */

.basket::before {
  content:"";
  position:absolute;
  top:33px;
  right:100px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket-user .basket{
  padding-left:25px;
  position: relative;
}

.backdrop{
  background-color:var(--background);
}

/*main*/
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}


/* slider */
.slider {
  width:1160px;
  margin: 0 auto;
  padding: 0px;
  min-width: 940px;
  position: relative;
  text-align:left;
  margin-bottom:80px;
}

.slider-list{
  height:431px;
  width:395px;
  margin:0px;
  padding:0px;
  list-style:none;
}

.slide-title{
  width: 538px;
  font-weight:500;
  line-height:55px;
  font-size:55px;
  padding-top:79px;
  margin-left:3px;
  margin-bottom:27px;
}

.slider-list p{
font-weight:400;
font-size:16px;
line-height:24px;
margin-left:3px;
margin-bottom:38px;
}

.button {
  padding: 16px 55px;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color:var(--basic-white);
  text-decoration: none;
  vertical-align: middle;
  text-transform:uppercase;
  background:var(--basic-button);
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.slide-button{
  margin-left:2px;
}

.button:hover {
  background:var(--button-hover);
}

.button:active {
  background:var(--button-active);
  color:var(--text-active);
  box-shadow:var(--shadow-social);
}

.slider-controls {
  position: absolute;
  right:533px;
  top:318px;
  bottom:96px;
  z-index:20;
  display: flex;
  width:88px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color:var(--basic-white);
  border: 1px solid var(--border-dots);
  border-radius: 50%;
  cursor: pointer;
  outline:none;
}

.slide {
  display: none;
}

.current {
  display: block;
  margin-top:-55px;
}

.slider-controls .current {
  background-color:var(--basic-white);
}

.slide-picture-1 {
  background-image: url("../img/content/picture1.png");
  background-repeat: no-repeat;
  background-position:right;
  position: relative;
  right:3px;
  bottom:1px;
}

.slide-picture-2{
  background-image: url("../img/content/picture2.png");
  background-repeat: no-repeat;
  background-position:right;
  position: relative;
  right:3px;
  bottom:1px;
}

.slide-picture-3{
  background-image: url("../img/content/picture3.png");
  background-repeat: no-repeat;
  background-position:right;
  position: relative;
  right:3px;
  bottom:1px;
}

/*Services*/

.services{
  width:1100px;
  margin-bottom:121px;
  position: relative;
}

.services-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
  list-style:none;
}

.services-list::before{
  content: "";
  position: absolute;
  display:block;
  top:427px;
  left:0px;
  width: 1158px;
  height: 2px;
  background-color:var(--social-background);
}

.services-items{
  width:300px;
}

.services-items h3{
  margin-top:18px;
  margin-bottom:16px;
  text-align:left;
  font-weight:700;
  font-size:24px;
  line-height:30px;
  text-transform: uppercase;
}

.services-items p{
  width:260px;
  margin-bottom:32px;
  text-align:left;
  color:var(--basic-dark-grey);
}

/*button services*/
.button-website,
.button-application,
.button-presentation{
  display: inline-block;
  margin-right: 16px;
  padding: 13px 40.5px;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.button-application{
  background-color:var(--button-app-basic);
}

.button-application:hover{
  background-color:var(--button-app-hover);
}

.button-application:active{
  background-color:var(--button-app-active);
}

.button-presentation{
  background-color:var(--button-presentation-basic);
}

.button-presentation:hover{
  background-color:var(--button-presentation-hover);
}

.button-presentation:active{
  background-color:var(--button-presentation-active);
}

/*Description*/
/*features-description*/

.description{
  width:1174px;
  display:grid;
  grid-template-columns: 1fr 380px;
  margin-bottom:100px;
}

.description-height{
  margin-top: 35px;
  margin-bottom:33px;
  font-size:45px;
  line-height:45px;
  font-weight:500;
}

.features-description{
  margin-right:140px;
}

.description-list{
  margin:0px;
  padding:0px;
  list-style:none;
}

.description-item{
  margin-left:36px;
  padding-bottom:24px;
}

.description-item:nth-child(1),
.description-item:nth-child(2){
  position:relative;
}

.description-item:nth-child(1)::before{
  content: "";
  position: absolute;
  display:block;
  top:11px;
  left:-36px;
  width: 25px;
  height: 2px;
  background-color:var(--basic-button);
}

.description-item:nth-child(1)::after{
  content: "";
  position: absolute;
  display:block;
  top:59px;
  left:-36px;
  width: 25px;
  height: 2px;
  background-color:var(--basic-button);
}

.description-item:nth-child(2)::before{
  content: "";
  position: absolute;
  display:block;
  top:59px;
  left:-36px;
  width: 25px;
  height: 2px;
  background-color:var(--basic-button);
}

.description-text,
.heading-height,
.description-item,
.table-details
{
  color:var(--basic-dark-grey);
}

.heading-height{
  font-weight:700;
  margin-top:40px;
  margin-bottom:23px;
}

.statistic{
  order:1;
}

.statistic img{
  position: relative;
  left:6px;
  margin-bottom:14px;
}

.caption-table{
  font-weight: 700;
  text-transform:uppercase;
  margin-left:23px;
  margin-bottom:27px;
}

.statistic td:nth-child(1){
 padding-left:4px;
}

.statistic td:nth-child(2){
  padding-left:11px;
 }

 .statistic td:nth-child(3){
  padding-left:14px;
 }

.table-percent{
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  padding-bottom:9px;
}

.statistic sup{
  font-size: 26px;
  line-height:40px;
}

.table-details{
  line-height:18px;
}

/*Gallery-partners*/

.gallery-partners{
  margin-left:32px;
  margin-bottom:119px;
}

.partners-list{
  width:1085px;
  display: flex;
  flex-direction:row;
  align-items: center;
  margin:0px;
  padding:0px;
  list-style:none;
}

.partners-item:nth-child(1) img{
  margin-top:8px;
}

.partners-item:nth-child(2) img{
  margin-top:-3px;
  margin-left:95px;
}

.partners-item:nth-child(3) img{
  margin-bottom:3px;
  margin-left:104px;
}

.partners-item:nth-child(4) img{
  margin-top:3px;
  margin-left:120px;
}

.partners{
  position: relative;
}

.partners-item img{
  opacity:0.2;
}

.partners-item img:hover{
  opacity:1;
}

.partners-item img:active{
  opacity:0.1;
}

.partners-list::before{
  content: "";
  position: absolute;
  display:block;
  bottom:143px;
  right:0px;
  width: 1158px;
  height: 2px;
  background-color:var(--social-background);
}

.partners-list::after{
  content: "";
  position: absolute;
  display:block;
  top:131px;
  right:0px;
  width: 1158px;
  height: 2px;
  background-color:var(--social-background);
}

.partners-item:nth-child(1)::after{
  content: "";
  position: absolute;
  display:block;
  top:15px;
  left:247px;
  width: 2px;
  height: 52px;
  background-color:var(--social-background);
}

.partners-item:nth-child(2)::after{
  content: "";
  position: absolute;
  display:block;
  top:15px;
  left:547px;
  width: 2px;
  height: 52px;
  background-color:var(--social-background);
}

.partners-item:nth-child(3)::after{
  content: "";
  position: absolute;
  display:block;
  top:15px;
  right:279px;
  width: 2px;
  height: 52px;
  background-color:var(--social-background);
}

/*Footer*/

.main-footer{
  width:1440px;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 68px;
  position:relative;
}

.footer-map{
  position:relative;
}

.mark{
  content: "";
  position: absolute;
  top:86px;
  right:387px;
}

.footer-map img:nth-child(2){
  width:1440px;
}

.button-contacts{
  display: inline-block;
  margin-right: 16px;
  padding: 13px 44px;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  margin-top:33px;
  margin-left:50px;
  }

.footer-contacts{
  position:absolute;
  background-color:var(--basic-white);
  top:54px;
  left:150px;
  width:319px;
  height:308px;
}

.footer-contacts h2{
  margin-top:49px;
  margin-left:50px;
  margin-bottom:23px;
  font-family:700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  }


.footer-address,
.footer-phone{
  color:var(--modal-address);
  line-height: 18px;
  margin-left:50px;
}

.footer-contacts h2,
.friend h3{
  font-weight: 700;
}

.footer-social-friend{
  margin:0 auto;
  padding:0 10px;
  width:1160px;
  display:grid;
  grid-template-columns: 400px 1fr;
  align-content: start;
  margin-top:61px;
}

.footer-list{
  width:261px;
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content:space-between;
  padding:0px;
  margin:0px;
  list-style:none;
}

.footer-social-item:nth-child(1),
.footer-social-item:nth-child(2){
  margin-right:9px;
}

.footer-social-item{
  display:flex;
  align-items:center;
  justify-content:center;
  width:81px;
  height:81px;
  border-radius:50%;
  background-color:var( --social-background);
}

.footer-social-item img{
  vertical-align:middle;
}

.footer-social-item:hover{
  background-color:var(--button-hover) ;
}

.footer-social-item:active{
  background-color:var(--button-active);
  box-shadow:var(--shadow-social);
}

.footer-social-item:active img{
  opacity:0.3;
  }

.friend h3{
  margin:0px;
  margin-top:7px;
  margin-bottom:10px;
  font-size: 36px;
  line-height: 36px;
}

.friend span{
  color:var(--discount-string);
}

/* Modal */

.modal{
  display:none;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin:0;
  background-color:var(--basic-white);
  box-shadow:var(--modal-window-shadow);
  margin: 0 auto;
  padding: 0;
}

.modal-window-send{
  width: 960px;
  height:590px;
  top:0px;
  bottom:0;
  left:109px;
  z-index:20;
}

.modal-window h2{
  font-size:45px;
  line-height:53px;
  font-weight:700;
  margin-left:100px;
  margin-bottom:21px;
  margin-top:63px;
}

.contacts-window{
  display:flex;
}

.contacts-window p,
.modal-text{
  display:flex;
  flex-wrap: wrap;
  flex-direction:column;
}

.modal-name{
  margin-left:100px;
  margin-right:40px;
}

.modal-name input,
.modal-email input{
  width:328px;
  padding:14px;
  border:2px solid var(--border-text);
  border-radius:3px;
  margin-bottom:1px;
}

.modal-name label,
.modal-email label,
.modal-text label{
  font-size:16px;
  line-height:18px;
  font-weight:700;
}

.modal-name label,
.modal-email label{
  padding-bottom:10px;
}

.modal-name [placeholder],
.modal-email [placeholder],
.modal-text [placeholder]
{
  font-size:16px;
  line-height:18px;
}

.modal-text{
  margin-left:101px;
}

.modal-text [placeholder]{
  padding-top:12px;
}

.modal-text textarea{
  width:732px;
  padding:12px;
  margin-top:10px;
  margin-bottom:30px;
}

.button-writer{
  display: inline-block;
  padding: 13px 83px;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  outline: none;
  margin-left:101px ;
  margin-bottom:84px;
}

.button-close{
  position:relative;
}

.button-close::before{
    content:"";
    position: absolute;
    top:-512px;
    right:90px;
    width:21px;
    height: 21px;
    background-image: url("../img/content/close.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity:0.3;
  }

.button-close:hover::before{
    opacity:1;
}

.button-close:active::before{
  opacity:0.1;
}

.modal-name input::placeholder,
.modal-email input::placeholder,
.modal-text textarea::placeholder,
.modal-name input:hover::placeholder,
.modal-email input:hover::placeholder,
.modal-text textarea:hover::placeholder
{
  color:var(--discount-string-lite);
}

.modal-name input:focus::placeholder,
.modal-email input:focus::placeholder,
.modal-text textarea:focus::placeholder{
  color:var(--discount-string);
}

.modal-name input,
.modal-email input,
.modal-text textarea{
  border:2px solid var(--border-text);
  border-radius:3px;
}

.modal-name input:hover,
.modal-email input:hover,
.modal-text textarea:hover{
  border:2px solid var(--popap-border-hover);
  border-radius:3px;
}

.modal-name input:focus,
.modal-email input:focus,
.modal-text textarea:focus{
  border:2px solid var(--basic-black);
  border-radius:3px;
}

.modal-name input:invalid,
.modal-email input:invalid{
  border:2px solid var(--button-hover);
  border-radius:3px;
  color:var(--button-hover);
}



