/* Variables */
:root{
  --basic-black: #000000;
  --basic-dark-grey:#283136;
  --basic-button:#FB565A;
  --button-hover:#E74246;
  --button-active:#D7373B;
  --basic-white:#FFFFFF;
  --background:#EEEEEE;
  --backdrop-image:#888888;
  --button-app-basic:#00CA74;
  --button-app-hover:#00BC6C;
  --button-app-active:#00AA62;
  --button-presentation-basic:#EFC849;
  --button-presentation-hover:#EAB534;
  --button-presentation-active:#E5A722;
  --modal-address:#666666;
  --discount-string:#444444;
  --social-background:#E1E1E1;
  --border-text:#D7DCDE;
  --arrow-down-dark:#231F20;
  --arrow-up-light:#A6A6A6;
  --over-image-catalog:#4D4D4D;
  --button-show-hover:#DFDFDF;
  --button-show-active:#D5D5D5;
  --popap-border-hover:#B4B9BB;
  --shadow-social: 0px 3px 0px rgba(0, 1, 1, 0.1);
  --border-dots:#C1C1C1;
  --text-active:rgba(255,255,255,0.3);
  --modal-window-shadow:0px 20px 40px rgba(0, 0, 0, 0.4);
  --range-controls:#f1f1f1;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"),
       url("/fonts/roboto.woff2") format("woff2"),
       url("/fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto"),
       url("/fonts/robotomedium.woff2") format("woff2"),
       url("/fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"),
       url("/fonts/robotobold.woff2") format("woff2"),
       url("/fonts/robotobold.woff") format("woff");
}

/* Global */
.page {
  height: 100%;
}

.page-body{
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-style:normal;
  color: var(--basic-black);
  background-color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul li{
  list-style:none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main navigation */
.main-header{
  padding-top:49px;
  background-color:var(--background);
}

.main-navigation-wrapper{
  width: 1160px;
  height:65px;
  display: flex;
  justify-content: space-between;
  margin:0 auto;
 /* outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;*/
}

.main-navigation{
  width:799px;
  display: flex;
  justify-content:space-between;
  align-items:flex-start;
  flex-direction: row;
  /*outline: 5px solid rgba(255, 0, 0, 0.917);
  outline-offset: -5px;*/
}

.main-header-logo{
  width:160px;
  height:65px;
  /*outline: 5px solid rgba(159, 250, 12, 0.924);*/
}

.site-navigation {
  width:437px;
  min-height:65px;
  display: flex;
  margin: 0px;
  padding: 0px;
 /* outline: 5px solid rgba(41, 37, 231, 0.3);*/
}

.site-navigation,
.basket-user{
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
}

/* Basket-user */

.basket-user{
  max-width: 140px;
  margin-left: auto;
}

.site-navigation a,
.basket-user a{
  color: var(--basic-black);
  display:block;
  padding-top:26px;
}

.site-navigation a{
 padding-right:45px;
}

.site-navigation:last-child{
  padding-right:0px;
}

.site-navigation a:hover,
.basket-user a:hover
{
  color: var(--basic-button);
}

.site-navigation a:focus,
.basket-user a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

/* basket */

.basket::before {
  content:"";
  position: absolute;
  top:35px;
  right:100px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket-user .basket{
  padding-left:25px;
  position: relative;
}

/*main*/
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}



/* slider */
.slider {
  width:1160px;
  margin: 0 auto;
  padding: 0px;
  min-width: 940px;
  position: relative;
  text-align:left;
  margin-bottom:80px;
  /*outline: 5px solid rgba(235, 28, 9, 0.945);
  outline-offset: -5px;*/
}

.slider-list{
 height:431px;
 width:397px;
 margin:0px;
 padding:0px;
 list-style: none;
 /*outline: 5px solid rgba(0, 110, 255, 0.945);
 outline-offset: -5px;*/
}

.slide-title{
width: 538px;
font-weight:500;
line-height:55px;
font-size:55px;
padding-top:78px;
margin-bottom:25px;
/*outline: 5px solid rgba(0, 217, 255, 0.945);
outline-offset: -5px;*/
}

.slider-list p{
font-weight:400;
font-size:16px;
line-height:24px;
margin-top:25px;
margin-bottom:38px;
/*outline: 5px solid rgba(238, 5, 168, 0.945);
outline-offset: -5px;*/
}

.button {
  padding: 17px 54px;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color:var(--basic-white);
  text-decoration: none;
  vertical-align: middle;
  text-transform:uppercase;
  background:var(--basic-button);
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background:var(--button-hover);
}

.button:active {
  background:var(--button-active);
  color:var(--text-active);
  box-shadow:var(--shadow-social);
}


.slider-controls {
  position: absolute;
  right:533px;
  bottom:96px;
  z-index:20;
  display: flex;
  width: 70px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color:var(--basic-white);
  border: 1px solid var(--border-dots);
  border-radius: 50%;
  cursor: pointer;
  outline:none;
}

.slide {
  display: none;
}

.current {
  display: block;
  margin-top:-55px;/*1*/
}

.slider-controls .current {
  background-color:var(--basic-white);
}

.slide-picture-1 {
  background-image: url("../img/content/picture1.png");
  background-repeat: no-repeat;
  background-position:right;
}

.slide-picture-2{
  background-image: url("../img/content/picture2.png");
  background-repeat: no-repeat;
  background-position:right;
}

.slide-picture-3{
  background-image: url("../img/content/picture3.png");
  background-repeat: no-repeat;
  background-position:right;
}

/*Services*/

.services{
  width:1100px;
  margin-bottom:119px;
  position: relative;
}

.services-list::before{
  content: "";
  position: absolute;
  display:block;
  top:430px;
  left:0px;
  width: 1158px;
  height: 2px;
  background-color:var(--social-background);
 }

.services-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  padding: 0;
}

.services-items{
  width:300px;
  /*outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;*/
}

.services-items h3{
 margin-top:25px;
 margin-bottom:16px;
 text-align:left;
 font-weight:700;
 font-size:24px;
 line-height:30px;
 text-transform: uppercase;
}


.services-items p{
  margin-bottom:32px;
  text-align:left;
  color:var(--basic-dark-grey);
}

/*button services*/
.button-website,
.button-application,
.button-presentation{
    display: inline-block;
    margin-right: 16px;
    padding: 12px 38px;
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
  }


.button-application{
  background-color:var(--button-app-basic);
}

.button-application:hover{
  background-color:var(--button-app-hover);
}

.button-application:active{
  background-color:var(--button-app-active);
}

.button-presentation{
  background-color:var(--button-presentation-basic);
}

.button-presentation:hover{
  background-color:var(--button-presentation-hover);
}

.button-presentation:active{
  background-color:var(--button-presentation-active);
}

/*Description*/
/*features-description*/

.description{
  width:1174px;
  display: grid;
  margin-bottom:119px;
  grid-template-columns: 1fr 374px;
}

.description-height{
  margin-top: 34px;
  margin-bottom:32px;
  font-size:45px;
  line-height:45px;
  font-weight:500;
}

.features-description{
  margin-right:149px;
 /* outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;*/
}

.description-list{
  margin:0px;
  padding:0px;
}

.description-item:nth-child(3){
  margin:0px;
}

.description-text,
.heading-height,
.description-item,
.table-details
{
 color:var(--basic-dark-grey);
}

.heading-height{
  margin-top:40px;
  margin-bottom:23px;
}

.statistic{
  order:1;
  /*outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;*/
}

.statistic img{
  margin-right:14px;
  margin-bottom:37px;
}

.statistic table {
  margin-top:31px;
}

.caption-table{
  font-weight: 700;
  text-transform:uppercase;
}

.table-percent{
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.statistic sup{
  font-size: 26px;
  line-height:40px;
}

.table-details{
  line-height:18px;
}

/*Gallery-partners*/

.gallery-partners{
  margin-left:32px;
  margin-bottom:124px;
}

.partners-list{
  width:1085px;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-between;
  margin:0px;
  padding:0px;
}

.partners{
  position: relative;
}

.partners-list::before{
  content: "";
  position: absolute;
  display:block;
  bottom:142px;
  right:0px;
  width: 1158px;
  height: 2px;
  background-color:var(--social-background);
 }

 .partners-list::after{
  content: "";
  position: absolute;
  display:block;
  top:140px;
  right:0px;
  width: 1158px;
  height: 2px;
  background-color:var(--social-background);
 }

.partners-item{
 opacity:0.2;
}

.partners-item:nth-child(1)::after{
  content: "";
  position: absolute;
  display:block;
  top:15px;
  left:248px;
  width: 2px;
  height: 52px;
  background-color:var(--social-background);
}

.partners-item:nth-child(2)::after{
  content: "";
  position: absolute;
  display:block;
  top:15px;
  left:560px;
  width: 2px;
  height: 52px;
  background-color:var(--social-background);
}

.partners-item:nth-child(3)::after{
  content: "";
  position: absolute;
  display:block;
  top:15px;
  right:260px;
  width: 2px;
  height: 52px;
  background-color:var(--social-background);
}

.partners-item:hover{
  opacity:1;
 }

.partners-item:active{
  opacity:0.1;
 }


/*Footer*/

.main-footer{
  width:1440px;
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 68px;
}

.main-footer .mark{
  display:none;
}

.footer-map img:nth-child(2){
  width:1440px;
 }

.button-contacts{
    display: inline-block;
    margin-right: 16px;
    padding: 9px 34px;
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
  }

.footer-contacts{
    display:none;
    width:319px;
    height:308px;
}

.footer-contacts h2{
  margin-top:49px;
  margin-left:50px;
  margin-bottom:23px;
  font-family:700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  }

.footer-address,
.footer-phone{
  color:var(--modal-address);
  line-height: 18px;
  margin-left:50px;
}

.footer-contacts h2,
.friend h3{
  font-weight: 700;
}

.button-contacts{
  margin-top:38px;
  margin-bottom:47px;
  margin-left:50px;
}


.footer-social-friend{
  margin:0 auto;
  padding:0 10px;
  width:1160px;
  display:grid;
  grid-template-columns: 400px 1fr;
  align-content: start;
  margin-top:68px;
  margin-bottom:68px;
  /*outline: 5px solid rgba(116, 2, 2, 0.7);
  outline-offset: -5px;*/
}

.footer-list{
  width:261px;
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content:space-between;
  padding:0px;
  margin:0px;
  /*outline: 5px solid rgba(4, 26, 98, 0.7);
  outline-offset: -5px;*/
}

.footer-social-item:nth-child(1),
.footer-social-item:nth-child(2){
  margin-right:9px;
}

.footer-social-item{
  display:flex;
  align-items:center;
  justify-content:center;
  width:81px;
  height:81px;
  border-radius:50%;
  background-color:var( --social-background);
 }

 .footer-social-item:hover{
 background-color:var(--button-hover) ;
 }

 .footer-social-item:active{
 background-color:var(--button-active);
 box-shadow:var(--shadow-social);
 }

 .footer-social-item:active img{
  opacity:0.3;
  }

.friend h3{
  margin:0px;
  margin-top:7px;
  margin-bottom:10px;
  font-size: 36px;
  line-height: 36px;
}

.friend span{
  color:var(--discount-string);
}


/*Modal*/
.modal{
  display:none;
  width:960px;
  height:590px;
  box-shadow:var(--modal-window-shadow);
  margin: 0 auto;
  padding: 0px;
}

.contacts-window{
  display:flex;
}

.modal h2{
  margin-top:63px;
  margin-bottom:64px;
  margin-left:100px;
  font-size: 45px;
  line-height:53px;
}

.modal h2,
.contacts-window p{
  font-weight: 700;
}

.contacts-window p{
  line-height: 18px;
}

.modal-name input,
.modal-email input{
  width:360px;
  height:50px;
}

.modal-name{
  margin-left:100px;
  margin-right:40px;
}

.modal-email{
  margin-right:100px;
}

.modal-text{
  margin-left:101px;
  margin-bottom:47px;
}

.modal-text textarea{
  width:760px;
  height:118px;
}

.button-writer{
    display: inline-block;
    padding: 11px 68px;
    font: inherit;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border:none;
    outline: none;
    margin-left:101px ;
    margin-bottom:84px;
}

textarea,
input{
  border:2px solid var(--border-text);
  border-radius:3px;
}

textarea:hover,
input:hover{
  border-color:var(--popap-border-hover);
}

textarea:focus,
input:focus{
  border-color:var(--basic-black);
}

input::placeholder,
input:hover::placeholder{
  color:var(--discount-string);
  opacity:0,5;
}

input:focus::placeholder{
  color:var(--discount-string);
}

input:invalid[placeholder]{
  color:var(--button-hover);
}

input:invalid{
  border-color:var(--button-hover) ;
}
